.text {
    font-family: $ui-font-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;

    &_like-title {
        font-family: $ui-font-title;
    }

    &_xl {
        @include from($b-lg) {
            font-size: 18px;
        }
    }

    &_sm {
        font-size: 12px;
        line-height: normal;

        @include from($b-lg) {
            font-size: 14px;
        }
    }

    &_medium {
        font-weight: 500;
    }

    &_extra-bold {
        font-weight: 800;
    }

    &_white {
        color: #FFFFFF;
    }

    &_color-brand {
        color: $ui-c-brand;
    }

    &_dark-red {
        color: $ui-c-red-dark;
    }

    &_leading-115 {
        line-height: 115%;
    }
}